*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'PixelNums';
    src: url('BeautifulPoliceOfficer-rvv8x.ttf') format('truetype');
}




body{
    background-color: #C5C6C7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: #0B0C10;
    width: 900px;
    height: 500px;
    border: none;
    border-radius: 15px;
    display: flex;
    overflow: hidden;

}

.numbers{
    width: 50%;
    border-radius: 15px;
}

.calculations{
    width: 50%;
    background-color: #1F2833;
    border-radius: 0 15px 15px 0 ;
    display: flex;
    flex-direction: column;
    height: 100%;

}

.displayOuterBox{
    background-color: #1F2833;
    flex: 1;
    padding: 30px;
}


.displayInnerBox{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    font-size: 30px;
    font-family: "PixelNums";
}

.numBox{
 

    /* padding: 15px; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
}

.numBox > * > *{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    background-color: wheat;
    border-radius: 100px;
    /* padding: 20px; */
    width: 80px;
    height: 80px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    font-weight: 1000;
    border: 8px solid #45A29E;
}

.row1 ,.row2 ,.row3, .row4{
    
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 50px;
    
}

.eraseBtn , .calcBtn{
        border-radius: 100%;
        border: 8px solid #45A29E;
        padding: 0;
}

.eraseBtn{
    background-color: red;
}

.calcBtn{
    background-color: greenyellow;
}



.operationsBox{
    background-color: #45A29E;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.operationsRow1, .operationsRow2{
  
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.operationsBox button{
    border: none;
    border-radius: 10px;
    width: 180px;
    height: 85px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 60px;
    font-weight: 1000;

}

.numBox > * > *:hover{
    background-color: rgb(45, 210, 158);
        font-size: 35px;
}

.operationsBox button:hover{
    background-color: rgb(32, 208, 53);
    font-size: 70px;
}